<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

=======
>>>>>>> 27f1f5ecdc82d207cf7540810f737f9cd9742592
.calendar {
    background-color: honeydew;
    color: black;
    font-family: sans-serif;
    max-width: 400px;
    max-height: 350px;
    min-width: 300px;
    min-height: 200px;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    position: absolute;
    box-shadow: 0 0 5px 0 #ccc;
<<<<<<< HEAD
}

=======
}
>>>>>>> 27f1f5ecdc82d207cf7540810f737f9cd9742592
